<div
        hx-target="this"
        hx-swap="outerHTML"
        style="display: flex; align-items: center; gap: var(--pico-spacing);">
    <div>
        <img src="{{ data.cover_url }}" width="100" alt="Book Image" class="book-cover">
    </div>
    <hgroup>
        <h1>{{ data.title }}</h1>
        <h3>{{ data.authors }}</h3>
        <p>{{ data.rating }}</p>
        {% with action=data.actions_map.book_info_update_form %}
        {% include "action_link.jinja2" %}
        {% endwith %}
    </hgroup>
</div>
