{% extends "base.jinja2" %}
{% block title %}{{ data.page_title }}{% endblock %}
{% block style %}
{% include "book/book_cover.css" %}
{% endblock %}
{% block body %}
<main class="container">
    <h1>{{ data.page_title }}</h1>
    {% if not data.books %}

    <p>{{ data.empty_message }}</p>
    <p><a href="{{ data.empty_action.url.value }}">{{ data.empty_action.label }}</a></p>
    {% else %}
    <div class="overflow-auto">
        <table>
            <thead>
            <tr>
                {% for field_meta in data.fields_meta.values() %}
                <th scope="col">{{ field_meta.label }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for book in data.books %}
            <tr>
                <th scope="row">
                    <a href="{{ book.actions_map.book_detail_page.url.value }}">
                        <img src="{{ book.cover_url }}" width="100" alt="Book Image" class="book-cover">
                    </a>
                </th>
                <td>
                    <a class="contrast" href="{{ book.actions_map.book_detail_page.url.value }}">
                        {{ book.name }}
                    </a>
                </td>
                <td>{{ book.clippings_count }}</td>
                <td>{{ book.last_clipping_added_at }}</td>
                <td>{{ book.rating }}</td>
                <td>
                    <div role="group">
                        <button
                            class="outline contrast"
                            {{ hx_action(book.actions_map.book_delete) }}
                            hx-target="closest tr"
                            hx-disabled-elt="this"
                        >{{ book.actions_map.book_delete.label }}
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% with pages=data.pagination %}
    {% include "pagination.jinja2" %}
    {% endwith %}
</main>
{% endblock %}
