{% extends "base.jinja2" %}
{% block title %}{{ data.page_title }}{% endblock %}
{% block body %}
<main class="container">
    <h1>{{ data.page_title }}</h1>

    <div class="grid">
        <div>
            <img src="{{ data.cover_url }}" width="400" alt="Book Image">
            <div>
                <button>{{ data.actions_map.upload_cover.label }}</button>
                <button>{{ data.actions_map.find_cover.label }}</button>
            </div>
        </div>
        <div>
            <h2>{{ data.title.value }}</h2>
            <p>{{ data.author.value }}</p>
            <p><b>{{ data.count_of_clippings.label }}</b> {{ data.count_of_clippings.value }}</p>
            <p><b>{{ data.rating.label }}</b> {{ data.rating.value }}</p>
            <p><b>{{ data.review.label }}</b></p>
            <p>{{ data.review.value }}</p>
            <button>{{ data.actions_map.edit_review.label }}</button>
        </div>
    </div>
</main>
{% endblock %}
