<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>{{ data.page_title }}</title>
</head>
<body>
<main class="container">
    <h1>{{ data.page_title }}</h1>

    <div class="grid">
        <div>
            <img src="{{ data.book_cover_url }}" width="400" alt="Book Image">
            <div>
                <button>{{ data.upload_cover_button.label }}</button>
                <button>{{ data.find_cover_button.label }}</button>
            </div>
        </div>
        <div>
            <h2>{{ data.book_title }}</h2>
            <p>{{ data.book_author }}</p>
            <p>{{ data.book_rating }}</p>
            <p>{{ data.book_review }}</p>
            <p>{{ data.book_clippings_count }}</p>
            <button>{{ data.edit_review_button.label }}</button>
        </div>
    </div>
</main>
</body>
</html>
