<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>{{ data.page_title }}</title>
</head>
<body>
<main class="container">
    <h1>{{ data.page_title }}</h1>
    <div>
        <button>{{ data.add_book_button.label }}</button>
        <button>{{ data.import_button.label }}</button>
    </div>

    <table>
        <thead>
        <tr>
            {% for header in data.headers %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for book in data.books %}
        <tr>
            <th scope="row"><img src="{{ book.cover_url }}" width="100" alt="Book Image"></th>
            <td>{{ book.title }}. {{ book.author }}</td>
            <td>{{ book.clippings_count }}</td>
            <td>{{ book.last_clipping_added_at }}</td>
            <td>{{ book.rating }}</td>
            <td>{{ book.review }}</td>
            <td>Actions</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        {% for page in data.pages %}
        {% if page.current %}
        <span>{{ page.number }}</span>
        {% else %}
        <a href="{{ page.url }}">{{ page.number }}</a>
        {% endif %}
        {% endfor %}
    </div>
</main>
</body>
</html>
