<div hx-target="this" style="display: flex; align-items: center; gap: var(--pico-spacing);">
    <div>
        <img src="{{ data.cover_url }}" width="400" alt="Book Image" class="book-cover">
    </div>
    <form
            {{ hx_action(data.actions_map.save) }}
            hx-swap="outerHTML">
        <fieldset>
            {% with fields=data.fields_meta %}
            <label>
                {{ fields.title.label }}
                <input
                        name="title"
                        {% if fields.title.required %}required{% endif %}
                        placeholder="{{ fields.title.label }}"
                        value="{{ data.title }}"
                />
            </label>
            <label>
                {{ fields.authors.label }}
                <input
                        name="authors"
                        {% if fields.authors.required %}required{% endif %}
                        placeholder="{{ fields.authors.label }}"
                        value="{{ data.authors }}"
                />
            </label>
            <label>
                {{ fields.rating.label }}
                <input
                        name="rating"
                        {% if fields.rating.required %}required{% endif %}
                        placeholder="{{ fields.rating.label }}"
                        value="{{ data.rating }}"
                        type="number"
                        min="{{ fields.rating.min }}"
                        max="{{ fields.rating.max }}"
                />
            </label>
            <label>
                {{ fields.cover.label }}
                <input
                        name="cover"
                        {% if fields.cover.required %}required{% endif %}
                        placeholder="{{ fields.cover.label }}"
                        type="file"
                />
            </label>
            {% endwith %}
        </fieldset>

        <div role="group">
            <input
                    type="submit"
                    value="{{ data.actions_map.save.label }}"
            />
            <button
                    class="secondary"
                    {{ hx_action(data.actions_map.cancel) }}
            >
                {{ data.actions_map.cancel.label }}
            </button>
        </div>
    </form>
</div>
