<div hx-target="this" style="display: flex; align-items: center; gap: var(--pico-spacing);">
    <div>
        <img src="{{ data.cover_url }}" width="400" alt="Book Image" class="book-cover">
    </div>
    <form
            {{ hx_action(data.actions_map.save) }}
            hx-swap="outerHTML">
        <fieldset>
            {% with fields=data.fields_meta %}
            <label>
                {{ fields.title.label }}
                <input
                        name="title"
                        {% if fields.title.required %}required{% endif %}
                        placeholder="{{ fields.title.label }}"
                        value="{{ data.title }}"
                />
            </label>
            <label>
                {{ fields.authors.label }}
                {% if fields.authors.tooltip %}<span data-tooltip="{{ fields.authors.tooltip }}">( ? )</span>{% endif %}
                <input
                        id="authors-input"
                        list="authors-list"
                        name="authors"
                        {% if fields.authors.required %}required{% endif %}
                        placeholder="{{ fields.authors.label }}"
                        value="{{ data.authors }}"
                />
                <datalist id="authors-list">
                    {% for author in data.authors_autocomplete %}
                        <option>{{ author }}</option>
                    {% endfor %}
                </datalist>
                <script>
                    let input = document.getElementById("authors-input");
                    new Awesomplete(input, {
                        minChars: 1,
                        filter: function(text, input) {
                            return Awesomplete.FILTER_CONTAINS(text, input.match(/[^&]*$/)[0]);
                        },

                        item: function(text, input) {
                            return Awesomplete.ITEM(text, input.match(/[^&]*$/)[0]);
                        },

                        replace: function(text) {
                            const before = this.input.value.match(/^.+&\s*|/)[0];
                            const parts = before.split("&");
                            const cleaned = parts.map(part => part.trim()).filter(part => part !== "");
                            cleaned.push(text.trim());
                            this.input.value = cleaned.join(" & ");
                            // Move caret to the end of the input
                            this.input.selectionStart = this.input.selectionEnd = this.input.value.length;
                        }
                    });
                </script>
            </label>
            <label>
                {{ fields.rating.label }}
                <input
                        name="rating"
                        {% if fields.rating.required %}required{% endif %}
                        placeholder="{{ fields.rating.label }}"
                        value="{{ data.rating }}"
                        type="number"
                        min="{{ fields.rating.min }}"
                        max="{{ fields.rating.max }}"
                />
            </label>
            {% endwith %}
        </fieldset>

        <div role="group">
            <input
                    type="submit"
                    value="{{ data.actions_map.save.label }}"
            />
            <button
                    class="secondary"
                    {{ hx_action(data.actions_map.cancel) }}
            >
                {{ data.actions_map.cancel.label }}
            </button>
        </div>
    </form>
</div>
