<div hx-target="this" style="display: flex; align-items: center; gap: var(--pico-spacing);">
    <div>
        <img src="{{ data.cover_url }}" width="400" alt="Book Image" class="book-cover">
    </div>
    <form
            {{ hx_action(data.actions_map.save) }}
            hx-swap="outerHTML">
        <fieldset>
            {% with fields=data.fields_meta %}
            <label>
                {{ fields.title.label }}
                <input
                        name="title"
                        {% if fields.title.required %}required{% endif %}
                        placeholder="{{ fields.title.label }}"
                        value="{{ data.title }}"
                />
            </label>
            <label>
                {{ fields.authors.label }}
                <input
                        name="authors"
                        data-list="Steven King, J.R.R. Tolkien, J.K. Rowling, George R.R. Martin, Stephen Hawking, Neil deGrasse Tyson"
                        data-multiple
                        {% if fields.authors.required %}required{% endif %}
                        placeholder="{{ fields.authors.label }}"
                        value="{{ data.authors }}"
                />
                <script>
                    new Awesomplete('input[data-multiple]', {
                        filter: function(text, input) {
                            return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
                        },

                        item: function(text, input) {
                            return Awesomplete.ITEM(text, input.match(/[^,]*$/)[0]);
                        },

                        replace: function(text) {
                            var before = this.input.value.match(/^.+,\s*|/)[0];
                            this.input.value = before + text + ", ";
                        }
                    });
                </script>
            </label>
            <label>
                {{ fields.rating.label }}
                <input
                        name="rating"
                        {% if fields.rating.required %}required{% endif %}
                        placeholder="{{ fields.rating.label }}"
                        value="{{ data.rating }}"
                        type="number"
                        min="{{ fields.rating.min }}"
                        max="{{ fields.rating.max }}"
                />
            </label>
            <label>
                {{ fields.cover.label }}
                <input
                        name="cover"
                        {% if fields.cover.required %}required{% endif %}
                        placeholder="{{ fields.cover.label }}"
                        type="file"
                />
            </label>
            {% endwith %}
        </fieldset>

        <div role="group">
            <input
                    type="submit"
                    value="{{ data.actions_map.save.label }}"
            />
            <button
                    class="secondary"
                    {{ hx_action(data.actions_map.cancel) }}
            >
                {{ data.actions_map.cancel.label }}
            </button>
        </div>
    </form>
</div>
