<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <style>
        {% block style %}{% endblock %}
        .action-link {
          color: var(--pico-secondary);
          text-decoration: underline dotted;
          cursor: pointer;
          margin: 0 2px;
        }
        .action-link:hover {
          color: var(--pico-secondary-dark);
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{%  include "header.jinja2" %}
{% block body %}{% endblock %}
</body>
</html>
