<header class="container" style="padding-bottom: 0;">
    <nav>
      <ul>
        <li><a href="/" class="contrast">{{ global_data.home_link_text }}</a></li>
      </ul>
      <ul>
        <li>
          <details class="dropdown">
            <summary role="button" class="outline contrast">
              {{ global_data.nav_menu.title }}
            </summary>
            <ul dir="rtl">
              {% for action in global_data.nav_menu.actions %}
              {% if action.id.startswith("goto_") %}
              <li><a href="{{ action.url.value }}">{{ action.label }}</a></li>
              {% else %}
              <li hx-target="this"><a href="#" {{ hx_action(action) }} hx-swap="delete">{{ action.label }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </details>
        </li>
      </ul>
    </nav>
    <hr>
</header>
