<article class="clipping-item" hx-target="this" hx-swap="outerHTML">
    <section>{% block clipping_content %}{{ data.content }}{% endblock %}</section>
    {% if data.inline_notes %}
    <h6>{{ data.notes_label }}</h6>
    <hr>
    {% endif %}
    {% for note in data.inline_notes %}
    <section>
        <small>{{ note.content }}</small>
        {% for action in note.actions %}
        {% include "action_link.jinja2" %}
        {% endfor %}
    </section>
    {% endfor %}
    <footer style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <kbd>{{ data.type }}</kbd>
            <kbd>{{ data.page }}</kbd>
            <kbd>{{ data.location }}</kbd>
            <kbd>{{ data.added_at }}</kbd>
        </div>
        <div>
            {% block clipping_actions %}
            {% for action in data.actions %}
            {% include "action_link.jinja2" %}
            {% endfor %}
            {% endblock %}
        </div>
    </footer>

</article>
